    @font-face {
      font-family: "PTSans";
      src: url(../fonts/ptsans.woff) format("woff"), url(../fonts/ptsans.woff2) format("woff2");
      font-weight: normal;
    }

    @font-face {
      font-family: "PTSans";
      src: url(../fonts/ptsansbold.woff) format("woff"), url(../fonts/ptsansbold.woff2) format("woff2");
      font-weight: bold;
    }

    * {
      /*сбросить на всякий случай, пока normalize не подключен*/
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }

    html {
      background-color: #f2f2f2;
      /* светло-серый фон*/
    }

    body {
      max-width: 1200px;
      min-width: 768px;
      font-family: "PTSans";
      font-size: 14px;
      line-height: 1.5;
      /*зачем оно вообще?*/
      text-transform: uppercase;
      margin-right: auto;
      margin-left: auto;
      background-color: white;
      box-shadow: 15px 5px 50px grey;
    }

    .container {
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }

    .col-1 {
      width: 33.33%;
      float: left;
    }

    .col-2 {
      width: 66.66%;
      float: left;
    }

    .col-3 {
      width: 100%;
    }

    .align-left {
      text-align: left;
    }

    .align-right {
      text-align: right;
    }

    .align-center {
      text-align: center;
    }

    .full-height {
      height: 100%;
    }

    a {
      text-decoration: none;
      color: black;
    }

    a:hover {
      color: #aacce1;
      /*вроде hover не очень хорошо, потому что не будет работать на устройствах с сенсорным экраном*/
    }

    .title {
      font-size: 21px;
      font-weight: bold;
    }

    .story {
      font-size: 14px;
      font-weight: normal;
    }

    header .title {
      /*font-size: 21px;*/
      margin-bottom: 40px;
    }

    header .story {
      /*font-size: 14px;*/
    }

    .row .title {
      margin-bottom: 30px;
    }

    .row div.story {
      margin-bottom: 30px;
    }

    header.main-header {
      position: relative;
      height: 55px;
      padding-left: 6%;
      /*ТЗ*/
      padding-right: 6%;
      /*ТЗ*/
      margin-left: auto;
      margin-right: auto;
    }

    ul.main-menu {
      list-style-type: none;
      font-size: 0;
      /* как убрать пробелы между элементами меню?*/
      width: 100%;
      padding-top: 15px;
    }

    li.main-menu-item {
      display: inline-block;
      width: 20%;
      /*ТЗ*/
    /*  font-family: "Myriad Pro";*/
      font-size: 14px;
      font-weight: bold;
    }
    /*.main-menu li:nth-child(1),
    .main-menu li:nth-child(2){
        text-align: left;
    }

   .main-menu li:nth-child(3),
   .main-menu li:nth-child(4){
      text-align: right;
    }*/

    .main-header-logo {
      position: absolute;
      width: 200px;
      margin-left: -100px;
      left: 50%;
      z-index: 10;
    }

    .banner {
      position: relative;
      height: 500px;
      background-image: url("../img/banner-img-decoration.png"), url("../img/banner-img-bg.jpg");
      background-repeat: no-repeat, no-repeat;
      background-size: 100% 60px, 100%;
      background-position: left bottom, 50% 30%;
      /*ориентировался на букву о в Sedona - она около вершины*/
    }

    .banner-text {
      margin-top: 75px;
    }

    header.reasons-header {
      height: 210px;
      padding-top: 60px;
    }

    .reason-row {
      background-color: #eeeeee;
      height: 250px;
    }

    .reason-img {
      background-size: cover;
      background-position: center;
      /*background-size: 100%; не нужно вроде */
    }

    .reason-img-1 {
      background-image: url("../img/reason-img-1.jpg");
      /*div.reason-img:nth-child(1): url("../img/reason-img-2.jpg"); вариант?
        зачем вводить класс если в каждый div вставляется свое изображение*/
    }

    .reason-img-2 {
      background-image: url("../img/reason-img-2.jpg");
      /*div.reason-img:nth-child(2): url("../img/reason-img-2.jpg"); вариант?
        зачем вводить класс если в каждый div вставляется свое изображение*/
    }

    .reason-item.illustrated {
      background-color: #81b3d2;
      color: white;
      padding-top: 55px;
    }

    .advice-row {
      height: 330px;
      padding-top: 60px;
    }

    .reason-row .container {
      padding-top: 50px;
    }

    .advice-row img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
    }

    .booking {
      height: 760px;
      position: relative;

    }

    .search-form {
      position: absolute;
      top: 300px;
      height: 400px;
      width: 570px;
      z-index: 10;
      margin-left: -275px;
      /* 570/2 */
      left: 50%;
      background-color: white;
      /*font-size: 14px; в body указано*/
      font-weight: bold;
    }

    header.booking-header {
      height: 300px;
      padding-top: 60px;
      position: relative;
    }

    header.booking-header .title {
      font-size: 30px;
    }

    header.booking-header button {
      background-color: #766357;
      height: 85px;
      width: 570px;
      color: #ffffff;
      position: absolute;
      /*чтобы прижать к низу booking-header*/
      bottom: 0px;
      margin-left: -275px;
      margin-bottom: 0; /*переопределяю
      унаследованное от header .title - оставил title поскольку
      считаю это заголовком - я бы вообще для надписи на кнопки
      использовал h2, но валидатор ругается*/
      /*в отличие от search-form
        и main-header-logo это уходило вправо и работает без left:50%
        почему так, не понял*/
    }

    .map {
      /*border: 1px solid blue;*/
      height: 460px;
      width: 100%;
      background-image: url(../img/map.jpg);
    }

    .input-row {
      margin-bottom: 30px;
      height: 40px;
      text-align: right;
    }

    input {
      height: 100%;
      background-color: #f2f2f2;
      display: inline-block;
    }

    input.short {
      width: 90px;
    }

    input.long {
      width: 300px;
    }

    .btn-find {
      height: 55px;
      width: 100%;
      background-color: #81b3d2;
      margin-top: 25px;
      color: white;
    }

    .search-form-label {
      display: inline-block;
      height: 100%;
      padding-top: 5px;
      /*  margin-right: 20px;*/
      border: 1px solid black;
      float: left;
    }
    /*#hotel-search-form > div:nth-child(3) > label:nth-child(2) > span.search-form-label{
  padding-left: 40px;
}*/

    .search-form-core {
      width: 460px;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid black;
      margin-top: 50px;
    }
